<!-- <h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
  <!-- HEADER -->
  <header id="main-header">
    <div class="container">
      <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <h1><span class="primary-text">aka</span>Web Woman</h1>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
          <nav id="navbar">
            <ul>
              <li><a href="/">Home</a></li>
              <li class="current"><a href="/about">About</a></li>
              <li><a href="/services">Portfolio</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- SUBHEADER -->
  <section id="subheader">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>About Us</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN PAGE -->
  <section id="page" class="about">
    <div class="container">
      <div class="row center-xs center-sm center-md center-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2><span class="primary-text">Who</span> We Are</h2>
          <p>At akaWeb Woman, we adhere to a strict set of principles. We use these principles to guide our practice, and assure that our performance upholds our standards of excellence. Each principle illustrates a different way that we apply the values in our Craftsmanship to a practical setting.</p>
          <p>We come from many different backgrounds, and are brought together by our shared enthusiasm for turning complicated technological problems into elegant and simple design solutions.</p>
          <br><br>

          <hr>
          <h2><span class="primary-text">What</span> We Do</h2>

          <p>Our passions in the Design Studio is building. Our designers are not only creative visual and UX designers, but also creative front-end developers. We are always researching and practicing the best ways to build our frameworks, and like to craft durable, easily changeable layouts.</p>
          <p>Our team cares about every little detail, and we spend most of our time perfecting and polishing the entire application. The web delevopment and web design process is one of the most exciting steps.</p>
          <br><br>
          <p>Web Application Development: Expertly crafted and delivered on time, with Ruby, Rails, JavaScript, Node.js, Express and more.</p>
          <p>Embedded Development: Custom applications for any device.</p>
          <p>Software Deployment: Professionally handled deployments on any platform.</p>
          <p>System Architecture: Expert advice and pragmatic design.</p>

          <hr>
          <hr>
          <h2><span class="primary-text">What</span> We Offer</h2>
          <h3><p>Web Design & Development,  Software Development & Programming</p></h3>
          <h3><p>Soical Media Marketing</p></h3>


        </div>
      </div>
    </div>
  </section>

  <!-- COMPANY -->
  <section id="company">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h4>Contact Us</h4>
          <ul>
            <!-- <li><i class="fa fa-phone"></i> (000)111-1212</li> -->
            <li><i class="fa fa-envelope"></i> akaweb.woman@gmail.com</li>
            <li><i class="fa fa-map"></i> New York, NY</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <!-- <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p> -->
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h4>Newsletter</h4>
          <p>Coming soon</p>
          <form>
            <input type="text" name="email" placeholder="Enter Email">
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer">
    <div class="container">
      <div class="row center-xs center-sm center-md center-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p></p>
        </div>
      </div>
    </div>
  </footer>

</body>
