// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* PAGE */
#page{
  margin-bottom:40px;
}

/* SERVICES */
.services ul li{
  list-style:none;
  padding:10px;
}

.services ul li:nth-child(odd){
  background:#333;
  color:#fff;
}

.services ul li:nth-child(even){
  background:#56a79a;
  color:#fff;
}
